.entry-content,
.entry-summary,
.page-content,
.comment-content {
	a {
		color: $accepta-link-css;

		&:visited {
			color: $accepta-link-visited-css;
		}

		&:hover,
		&:focus,
		&:active {
			color: $accepta-link-hover-css;
		}
	}
}

.entry-content {
	a.wp-element-button,
	a.wp-block-button__link,
	a.has-primary-background-color,
	.has-primary-background-color a {
		color: #fff;

		&:visited,
		&:hover,
		&:focus,
		&:active {
			color: #fff;
		}
	}
}

a {
	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
