a {
	color: $accepta-link-css;

	&:visited {
		color: $accepta-link-css;
	}

	&:hover,
	&:focus,
	&:active {
		color: $accepta-link-hover-css;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
